@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    background: url(snake\ backround.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: black;         
    width: 90vmin;
    height: 92vmin;
    margin-left: 35rem;
    border: 5px solid red;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    box-shadow: 1px 3px 36px 5px rgba(0,0,0,0.75);  
}
.head{
    background: rgb(187, 255, 85);
    border: 2px gray;
    margin: 3px;
}
.snake{
    background-color: greenyellow;
    border: 2px gray;
    margin: 3px;
}
.food{
    background-color:rgb(245, 240, 240);
    margin: 3px;
    
}
#highscore{
    position: absolute;
    top: 90px;
    left: 340px;
    font-size: 33px;
    color: rgb(131, 5, 82);
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
}
#scoreBox{
    position: absolute;
    top: 40px;
    left: 380px;
    color: rbg(131, 5, 82);
    font-size: 33px;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
}